source http://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-editing-vfpt

redirects: on

github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs

nuget FSharp.Data

nuget CommandLineParser
nuget FSharp.Core
nuget Microsoft.AspNet.Razor 4.0.0-rc1-final prerelease
nuget RazorEngine 4.4.3-rc1 prerelease
nuget NUnit 
nuget NUnit.Runners
nuget NuGet.CommandLine
nuget FSharp.Compiler.Service   8.0.0
// See http://fsprojects.github.io/Paket/nuget-dependencies.html
// This basically means we need the lowest version for its dependencies (FSharp.Compiler.Service)
// Otherwise we get runtime errors without binding redirects
// (which we cannot control running as part of a build script).
// See https://github.com/tpetricek/FSharp.Formatting/issues/277 as well.
# nuget FSharpVSPowerTools.Core
nuget FSharp.Editing.Core    2.5.5
nuget ILRepack

group build 
    source http://nuget.org/api/v2
    
    nuget FAKE



